<!-- body -->
<table>
  <thead>
    <tr>
      <th>세탁물</th>
      <th>세탁물 이름</th>
      <th>세탁물 내용</th>
      <th>주소</th>
      <th>요청사항</th>
      <th>상태</th>
    </tr>
  </thead>
  <tbody id="appliesList"></tbody>
  <!-- <tfoot>
    <td colspan="5" class="tablefoot"></td>
  </tfoot> -->
</table>
<!-- js -->
<script defer src="/./js/applyById.js"></script>
