<div class="container" id="file_form">
  <div class="applyForm">
    <div class="mb-3">
      <label for="laundryName" class="form-label">세탁물 이름</label>
      <input
        type="text"
        class="form-control"
        id="laundryName"
        name="laundryName"
        placeholder="세탁물1"
        required
      />
    </div>
    <div class="mb-3">
      <label for="laundryContent" class="form-label">세탁물 내용</label>
      <input
        type="text"
        class="form-control"
        id="laundryContent"
        name="laundryContent"
        placeholder="니트"
        required
      />
    </div>
    <div class="mb-3">
      <label for="laundryAddress" class="form-label">주소</label>
      <input
        type="text"
        class="form-control"
        id="laundryAddress"
        name="laundryAddress"
        placeholder="서울특별시 서초구 어쩌고 저쩌고"
        required
      />
    </div>
    <div class="mb-3">
      <label for="requests" class="form-label">요청사항</label>
      <input
        type="text"
        class="form-control"
        id="requests"
        name="requests"
        placeholder="조심히 세탁해주세요"
      />
    </div>
    <div>
      <input type="file" class="form-control" id="laundryImg" name="file" />
    </div>
  </div>
  <div class="button_container">
    <input class="btn" type="button" value="세탁신청" onclick=" apply()" />
    <button class="btn" type="button" onclick="location.href='/'">닫기</button>
  </div>
</div>

<script>
  // $(document).ready(function () {});

  // const fileInput = document.getElementById("laundryImg");
  // fileInput.onchange = () => {
  //   const selectedFile = fileInput.files[0];
  //   console.log(selectedFile);
  // };

  // 이미지 업로드 하는 함수
  // function uploadImage(e) {
  //   const file = e.target.files[0];

  //   const formdata = new FormData();
  //   formdata.append('file', file)
  // }

  function apply() {
    let laundryName = $("#laundryName").val();
    let laundryContent = $("#laundryContent").val();
    let laundryAddress = $("#laundryAddress").val();
    let requests = $("#requests").val();

    let file = document.getElementById("laundryImg").files[0];

    const formdata = new FormData();
    formdata.append("file", file);
    formdata.append("laundryName", laundryName);
    formdata.append("laundryContent", laundryContent);
    formdata.append("laundryAddress", laundryAddress);
    formdata.append("requests", requests);

    $.ajax({
      type: "POST",
      url: "/api/laundry/apply",
      data: formdata,
      cache: false,
      contentType: false,
      processData: false,
      enctype: "multipart/form-data",
      success: function (response) {
        minusPoint();
      },
      error: function (response) {
        customAlert(error.responseJSON.errorMessage);
      },
    });
  }

  function minusPoint() {
    $.ajax({
      type: "PUT",
      url: "/api/points/change",
      async: false,
      success: function (response) {
        if (response.data.changePoint >= 10000) {
          customAlert("세탁신청이 완료되었습니다!");
        }
      },
      error: function (error) {
        customAlert(error.responseJSON.errorMessage);
      },
    });
  }

  function customAlert(text) {
    $("#alertText").text(text);
    $("#alertModal").modal("show");
  }
</script>
