<form
  class="container"
  id="file_form"
  action="/laundry/apply"
  method="post"
  enctype="multipart/form-data"
>
  <div class="applyForm">
    <div class="mb-3">
      <label for="laundryName" class="form-label">세탁물 이름</label>
      <input
        type="text"
        class="form-control"
        id="laundryName"
        name="laundryName"
        placeholder="세탁물1"
        required
      />
    </div>
    <div class="mb-3">
      <label for="laundryContent" class="form-label">세탁물 내용</label>
      <input
        type="text"
        class="form-control"
        id="laundryContent"
        name="laundryContent"
        placeholder="니트"
        required
      />
    </div>
    <div class="mb-3">
      <label for="laundryAddress" class="form-label">주소</label>
      <input
        type="text"
        class="form-control"
        id="laundryAddress"
        name="laundryAddress"
        placeholder="서울특별시 서초구 어쩌고 저쩌고"
        required
      />
    </div>
    <div class="mb-3">
      <label for="requests" class="form-label">요청사항</label>
      <input
        type="text"
        class="form-control"
        id="requests"
        name="requests"
        placeholder="조심히 세탁해주세요"
        required
      />
    </div>
    <div>
      <input type="file" class="form-control" id="laundryImg" name="file" />
    </div>
  </div>
  <button type="button" onclick="location.href='/1';">세탁신청</button>
</form>
<div>
  <!-- <button type="button" onclick="apply_laundry()">세탁 신청</button> -->
  <button type="button" onclick="location.href='/';">닫기</button>
</div>
<script>
  function customAlert(text) {
    $("#alertText").text(text);
    $("#alertModal").modal("show");
  }
</script>
