<div>
    <div>
        모든 세탁물
    </div>
    
    <div id = "ownerPageLaundryList">
        
    </div>
</div>

<script>
    $(document).ready(function (){
        console.log("dd");
        let statusArray = ["대기중", "수거중", "수거완료", "배송중", "배송완료"];

        $.ajax({
            type: "GET",
            url: "/api/owner/laundries",
            async: false,
            success: function (response){

                console.log(response);
                document.getElementById("ownerPageLaundryList").innerHTML= "";
                let tempHtml = ``;

                if (response['msg']){

                    tempHtml = response['msg'];
                    $('#ownerPageLaundryList').append(tempHtml);

                } else {

                    let rows = response['laundries'];

                    for(let i = 0; i < rows.length; i++){
                        tempHtml += `<div onclick="chooseALaundryFromPendings(${rows[i].laundryId})">${rows[i].laundryName} ${statusArray[rows[i].status]} 
                        </div>`;
                    }

                    $('#ownerPageLaundryList').append(tempHtml);
                }
            }
        })
    })

    function chooseALaundryFromPendings(laundryId){
        $.ajax({
            type: "POST",
            url: "../api/owner/laundry/" + laundryId,
            async: false,
            success: function (response) {
                console.log(response);

                alert(response['msg'].msg);

                // window.location.reload();


            }

        })
    }
</script>