@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.container {
  width: 40%;
}
.applyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  padding: 20px;
  font-family: "Do Hyeon", sans-serif;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #222;
  font-weight: 80%;
  font-size: 15px;
  background-color: #fff;
  margin: 10px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
