.applyForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  padding: 20px;
}

.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #222;
  font-weight: 80%;
  font-size: 15px;
  background-color: #fff;
  margin: 5px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
